* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

:root {
    --Bright-Blue: hsl(220, 98%, 61%);
    --blue: hsl(228, 45%, 44%);
    --Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
}

.theme-dark {
    --bg-top-image: url(images/bg-desktop-dark.jpg) no-repeat;
    --main-bg: hsl(235, 21%, 11%);
    --todo-bg: hsl(235, 24%, 19%);
    --todo-shadow: hsl(235, 21%, 11%);
    --font-color: hsl(234, 39%, 85%);
    --font-color-hover: #fff;
}

.theme-light {
    --bg-top-image: url(images/bg-desktop-light.jpg) no-repeat;
    --main-bg: hsl(0, 0%, 98%);
    --todo-bg: hsl(0, 0%, 98%);
    --todo-shadow: hsl(125, 19%, 39%);
    --font-color: hsl(236, 9%, 61%);
    --font-color-hover: hsl(235, 21%, 11%);
}

body {
    width: 100%;
    font-weight: 400;
    font-size: 1rem;
    font-family: sans-serif;
    background: var(--bg-top-image);
    background-color: var(--main-bg);
    color: var(--font-color);
}

header,
main {
    max-width: 500px;
    margin: 0 auto;
}

header {
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

h1 {
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    font-weight: 600;
    font-size: 1.75rem;
    color: #fff;
    letter-spacing: 1rem;
}

.theme-block #theme {
    display: none;
}

.theme-block #theme+label::before {
    content: '';
    background: url(images/icon-sun.svg);
    display: block;
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.theme-block #theme:checked+label::before {
    background: url(images/icon-moon.svg);
}

.add-new-item {
    background: var(--todo-bg);
    height: 4rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.add-new-item #additem {
    background: transparent;
    color: var(--font-color);
    border: 0;
    outline: 0;
    width: 80%;
    height: 50px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.add-new-item span {
    width: 25px;
    height: 25px;
    border: 1px solid var(--font-color);
    display: block;
    border-radius: 50px;
}

/* Content Items */

.content {
    background: var(--todo-bg);
    border-radius: 5px;
    box-shadow: 0 5px 25px -12px var(--todo-shadow);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0;
    min-height: 65px;
    border-bottom: 1px solid var(--font-color);
    /* position: relative; */
}

ul li input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

ul li label {
    position: relative;
    padding-left: 2rem;
}

.checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
}

ul li.hidden {
    display: none;
}

ul li input[type='checkbox']~.checkmark {
    border: 1px solid var(--font-color);
    border-radius: 50px;
}


ul li input[type='checkbox']~.checkmark:hover {
    border: 0px;
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

ul li input[type='checkbox']~.checkmark:hover::before {
    content: '';
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: var(--todo-bg);
    display: block;
}

ul li input[type='checkbox']:checked~.checkmark {
    background: center url(images/icon-check.svg) no-repeat, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

ul li input[type='checkbox']:checked~.text {
    text-decoration: line-through;
}

.remove {
    background: url(images/icon-cross.svg) no-repeat;
    height: 18px;
    width: 18px;
    display: none;
    cursor: pointer;
    margin-left: 10%;
    /* margin-left: 80%; */
}

ul li:hover .remove {
    display: block;
}

/* Footer Items */

.bottom-items {
    justify-content: space-between;
    font-size: 1rem;
    padding-top: 1rem;
}

.filter input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.filter label {
    cursor: pointer;
    padding: 5px;
}

.filter label:hover {
    color: var(--font-color-hover);
}

.filter input[type='radio']:checked~span {
    color: var(--blue);
}

.clear {
    color: var(--font-color);
    cursor: pointer;
}

.clear:hover {
    color: var(--font-color-hover);
}

@media screen and (max-width: 540px) {
    body {
        padding: 1.5rem;
    }

    .filter {
        margin-top: 6rem;
    }
}